
html, body{
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.left-contents{
  width: 300px;
  float: left;
  font-weight: bold;
  color: $white;
  &__user {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__name {
        font-size: 16px;
      }
      &__lists {
        display: flex;
        &__list{
          &__icon {
            cursor: pointer;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: 15px;
      }
      &__message {
        color: white;
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.right-contents {
  width: calc(100vw - 300px);
  float: left;
  &__group {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    &__left {
      padding-top: 35px;
      &__name {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__member {
        font-size: 12px;
        color: $light-gray;
      }
    }
    &__edit {
      color: #38AEF0;
      line-height: 40px;
      height: 40px;
      padding: 0 20px;
      border: 1px solid #38AEF0;
      margin-top: 28px;
      text-decoration: none;
    }
  }
  &__chat {
    height: calc(100vh - 190px);
    padding: 46px 40px ;
    background-color: #fafafa;
    overflow: auto;
    &__user {
      &__name {
        color: $light-black;
        font-size: 16px;
        font-weight: bold;
        float: left;
        padding-bottom: 10px;
      }
      &__date {
        float: left;
        font-size: 12px;
        color: $light-gray;
        margin-left: 10px;
      }
      &__comment {
        clear: both;
        color: $light-black;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}




